<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<h1>Posts from {{group_chosen}}</h1>
<form method="POST" action="/add_meme_to_list">
  <div>
    <table>
      <tr>
         <td> post id </td>
         <td> post author </td>
         <td> post text </td>
         <td> post img url </td>
         <td> number of reactions </td>
      </tr>
      {% for n in data %}
      
      <tr>
         <td><input type="radio" name='post_choice' id={{n.pid}} value={{n.pid}}></input> </td>
         <td> {{n.pid}} </td>
         <td> {{n.name}} </td>
         <td> {{n.post_text}} </td>
         <td> {{n.img_link}} </td>
         <td> {{n.num_reactions}} </td>
      </tr>
      {% endfor %}
    </table>
  </div>


<h2> add an above post to one of your meme lists </h2>

    {% for n in listnames %}
    <input type="radio" name='list_choice' id={{n}} value={{n}}> {{n}} </input>
    {% endfor %}
     <input type="submit" value="Add post to selected list">
</form>
</body>


</html>
