<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<h1>Posts in your list: {{list_chosen}}</h1>
  <div>
    <table>
      <tr>
         <td> post id </td>
         <td> post author </td>
         <td> post text </td>
         <td> post img url </td>
         <td> number of reactions </td>
      </tr>
      {% for n in data %}
      
      <tr>
         <td> {{n.pid}} </td>
         <td> {{n.name}} </td>
         <td> {{n.post_text}} </td>
         <td> {{n.img_link}} </td>
         <td> {{n.num_reactions}} </td>
      </tr>
      {% endfor %}
    </table>
  </div>


</body>


</html>
